<div class="container-fluid mt-4">
  <div class="row mt-4">

    <div class="card" style="width: 100%;">
      <div class="card-header">
        Add Issue
      </div>

      <div class="card-body">
        <form ngNativeValidate [formGroup]="addForm" class="from" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="">Select Benefit Item</label>
            <select name="" id="" class="form-control" formControlName="benefitItemId" (change)="getDemandNumber(benefitId.value)" #benefitId>
              <option *ngFor="let bi of benefitItems" value="{{bi.id}}">{{bi.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Select Demand Number</label>

            <select  class="form-control" (change)="demandDetail(demandId.value)" formControlName="demandList" #demandId>
              <option value="">Select</option>
              <option value="" *ngFor="let d of demandData" value="{{d.id}}">{{d.demandNo}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Requested to
              <i class="fas fa-plus-circle add" data-toggle="collapse" data-target="#tree"></i>
            </label>
            <div class="collapse" id="tree">
              <!--tree view -->
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                  <li class="mat-tree-node">
                    <!-- use a disabled button to provide padding for tree leaf -->

                    {{node.organizationName}}
                    <input type="radio" formControlName="requestedTo" value="{{node.id}}" style="margin-left: 10px;"
                      required>
                  </li>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                  <li>
                    <div class="mat-tree-node">
                      <span mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" style="cursor: pointer;">
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </span>
                      {{node.organizationName}}
                      <input type="radio" formControlName="requestedTo" value="{{node.id}}" style="margin-left: 10px;"
                        required>
                    </div>
                    <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                      <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                  </li>
                </mat-nested-tree-node>
              </mat-tree>

              <!--tree view -->
            </div>
          </div>
         
          <div class="table-responsive" formArrayName="invItem">
            <table class="table table-bordered" *ngFor="let item of addForm.controls.invItem['controls']; let i = index; "  [formGroupName]="i">
              
              <thead>
           
                <th>Sub Group</th>
                <th>Item</th>
             
                <th>Country of Origin</th>
                <th>Brand</th>
                <th>Demand Quantity</th>
                <th>issue Quantity</th>
                <th>Remarks</th>
              </thead>
              <tbody>
                <tr>
                  
                  <td>
                    <select id="{{'subgroupId'+i}}" class="form-control" (change)="changeItemBySubgroup(i,$event)">
                      <option *ngFor="let s of subgroup" value="{{s.id}}">{{s.subGroupName}}</option>
                    </select>
                  </td>
                  <td>
                    <select  class="form-control" (change)="itemDetail($event,i)" formControlName="itemId" id="{{'itemDiv'+i}}" required>
                      
                    </select>
                  </td>
                  <td>
                    <select class="form-control" formControlName="invCountryOfOriginId" id="{{'originId'+i}}">
                    </select>
                  </td>
                  <td>
                    <select class="form-control" formControlName="invBrandId" id="{{'brandId'+i}}">
                      
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="demandQuantity" formControlName="quantity" #quantity readonly>
                  </td>
                  <td>
                    <input type="number" class="form-control" formControlName="quantity" id="quantity" max="{{quantity.value}}">
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="remarks">
                  </td>
            
                </tr>    
              </tbody>
            </table>
           
            <div class="form-group">
              <button class="btn-primary btn" [disabled]="!addForm.valid">Submit</button>
            </div>
        </div>
        
        </form>
      </div>

    </div>


  </div>
</div>