<div class="container-fluid">
    <h1 class="mt-4">{{title}}</h1> 
    
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{{title}}</li>
    </ol>
  
    <div class="card mb-4">
      <div class="card-header">
        <a routerLink="/dashboard/distribute-against-demand/add" class="btn btn-sm  btn-primary"><i class="fas fa-plus-circle"></i> Add Distribute</a>
      </div>
  
      <div class="body">
        <div class="table-responsive" id="dtable">
          <table class="table table-bordered">
            <thead>
              <th>Sl No.</th>
              <th>Distribute No</th>
              <th>Status</th>
              <th>Edit</th>
            </thead>
            <tbody>
              <tr *ngFor="let dist of distributeList; let i= index">
                <td>{{i+1}}</td>
                <td>{{dist.distributeNo}}</td>
                <td>{{dist.status}}</td>
                <td>
                    <button (click)="getDistributeById(dist.id)" color="primary" (click)="open(distributedmodal)"> View</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>   


  <ng-template #distributedmodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Distribute Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Distribute No :</td>
              <td>{{distributeNo}}</td>
            </tr>
            <tr>
              <td>Benefit Item Name:</td>
              <td>{{benefitItemName}}</td>
            </tr>
            <tr>
              <td>received Number:</td>
              <td>{{receivedName}}</td>
            </tr>
            <tr>
              <td>Status :</td>
              <td>{{status}}</td>
            </tr>
            <tr>
              <td>Distribute Date:</td>
              <td>{{distributeDate}}</td>
            </tr>
          </tbody>
        </table>
    
    
    
        <table class="table table-bordered">
          <thead>
            <th>Sl No.</th>
            <th>Item</th>
            <th>CountryOfOrigin</th>
            <th>BrandName </th>
            <th>Quantity</th>
            <th>Remark</th>
          </thead>
          <tbody>
    
            <tr *ngFor="let rec of distributeItemList; let i= index">
              <td>{{i+1}}</td>
              <td>{{rec.invItemName}}</td>
              <td>{{rec.invCountryOriginName}}</td>
              <td>{{rec.invBrandName}}</td>
              <td>{{rec.invItemQty}}</td>
              <td>{{rec.remarks}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>