<div class="container">

  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <a  class="navbar-brand" routerLink="/">Demand & Supply </a>
    <button *ngIf="auth.userToken"  class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button
    ><!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
   
  </form>
    <!-- Navbar-->
  
      <ul class="navbar-nav  navbar-right">
        <li  *ngIf="auth.userToken"  class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              welcome, {{auth.userName}} <i class="fas fa-user fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
         
                <a class="dropdown-item" href="#">Change Password</a>
            
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="auth.logout()">Logout</a>
            
            </div>
        </li>
        <li  *ngIf="!auth.userToken" >
          <a class="nav-link" role="button" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        </li>
    </ul>    

</nav>  
</div>

 
