<div class="bg-secondary" style="min-height: 100vh;"> 
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-5">
            <img src="/assets/images/404.jpg" alt="">
          </div>
      </div>
  </div>
</div>  