<div class="container-fluid">
  <h1 class="mt-4">{{title}}</h1> 
  
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{title}}</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <a routerLink="/dashboard/issue-against-demand"><i class="fas fa-arrow-circle-left"></i></a> Issue Info
    </div>

    <div class="body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <th>Sl No.</th>
            <th>Issue Date</th>
            <th>Issue No.</th>
            <th>Requested By</th>
            <th>Requested To</th>
            <th>Benefit Item</th>
            <th>Status</th>
         

          </thead>
          <tbody>
            <tr>
              <td>{{i+1}}</td>
              <td>{{detail.demandDate}}</td>
              <td>{{detail.issueNo}}</td>
              <td>{{detail.requestedBy}}</td>
              <td>{{detail.requestedTo}}</td>
              <td>{{detail.benefitItem}}</td>
              <td>{{detail.status}}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <!--issue items-->
  <div class="card mb-4">
    <div class="card-header">
      Issued Items
    </div>

    <div class="body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            
            <th>Item</th>
            <th>Quantity</th>
            <th>Country of Origin</th>
            <th>Brand</th>
            <th>Remarks</th>

          </thead>
          <tbody>
            <tr *ngFor="let item of detail.invItem">
            
              <td>{{item.item}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.invCountryOfOrigin}}</td>
              <td>{{item.invBrand}}</td>
              <td>{{item.remarks}}</td>
         
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>  
  <!--issue items-->
</div>   