<div class="container-fluid">
  <h1 class="mt-4">{{title}}</h1> 
  
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{title}}</li>
  </ol>

  <div class="card mb-4">
      <div class="card-header">
          <button class="btn-sm btn btn-primary" data-target="#addModal" data-toggle="modal"><i class="fas fa-plus-circle"></i> Add Item</button>
        </div>
      <div class="card-body">
          <div class="table-responsive">
            
              <table class="table table-bordered" id="" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Sl No.</th>
                          <th>Sub Group Name</th>
                          <th>Item Name</th>
                          <th>Item SKU</th>
                          <th>UOM</th>
                          <th>Item Features</th>
                          <th>Edit</th>
                      </tr>
                  </thead>
              
                  <tbody>
                    
                      <tr *ngFor="let i of items; let n = index">
                        <td>{{n+1}}</td>
                        <td>{{i.itemSubGroupName}}</td>
                        <td>{{i.itemName}}</td>
                        <td>{{i.itemSKU}}</td>
                        <td>{{i.uom}}</td>
                        <td>
                         
                          <span *ngFor="let ifeature of i.itemfeature" class="badge badge-primary m-2" style="display:block">Type: {{ifeature.type}} , Name: {{ifeature.name}}</span>
                          
                        </td>
                        <td data-target="#updateModal" (click)="edit(i)" data-toggle="modal">
                          <i class="fas fa-edit"></i>
                        </td>
                    </tr>
                  
                  </tbody>
                
              </table>
          </div>
      </div>
  </div>
</div>
<!--add modal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate [formGroup]="addForm" class="form" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <div class="col">
                  <label for="">Group Name*</label>
                  <select class="form-control" *ngIf="groupItems.length; else groupNameNF" (change)="getSubgroupByGroupId($event)">
                    <option value="">Select</option>
                    <option *ngFor="let gi of groupItems"  value="{{gi.id}}">{{gi.name}}</option>
                  
                  </select>
                  <div class="help-text">
                    <ng-template #groupNameNF>group name not found</ng-template>
                  </div>
                    
                </div>
                
                <div class="col">
                  <label for="">Sub Group Name*</label>
                  <select class="form-control" formControlName="itemSubGroupId" *ngIf="subgroupItems.length; else subgroupItemsNF">
                    <option value="">Select</option>
                    
                    <option *ngFor ="let sgi of subgroupItems" value="{{sgi.id}}">{{sgi.subGroupName}}</option>
                    
                  </select>
                  
                </div>
                
                <ng-template #subgroupItemsNF>
                  <div class="help-text">{{subgroupMsg}}</div>
                </ng-template>
              </div>

              <div class="form-group row">
                <div class="col">
                  <label for="">Item Name*</label>
                  <input type="text" class="form-control" formControlName="itemName"  required>
                </div>

                <div class="col">
                  <label for="">Item SKU*</label>
                  <input type="text" class="form-control" formControlName="itemSKU"  required>
                </div>
              </div>

              <div class="form-group row">
                <div class="col">
                  <label for="">UOM*</label>
                  <select class="form-control" formControlName="uom" required>
                    <option value="KG" selected>KG</option>
                    <option value="Litre">Litre</option>
                    <option value="Dozen">Dozen</option>
                    <option value="Piece">Piece</option>
                    <option value="Pack">Pack</option>
                  </select>                     
                </div>              
              </div>
                <button type="button" class="btn btn-sm btn-primary" (click)="additemfeature()">Add more</button>
                  <div class="form-group" formArrayName="itemfeature">
                    
                    <div *ngFor="let itemF of addForm.controls.itemfeature['controls']; let i = index"  class="row" [formGroupName]="i">
                      <div class="col-sm-5">
                        <label for="">Feature Type</label>
                        <select class="form-control" formControlName="type" required>
                          <option value="Brand">Brand</option>
                          <option value="Country of Origin">Country of Origin</option>
                        </select> 
                      </div>
      
                      <div class="col-sm-5">
                        <label for="">Feature Name</label>
                        <input type="text" class="form-control" formControlName="name" required>
                      </div>

                      <div class="col-sm-2" *ngIf="i>0" (click)="removeitemfeature(i)">
                        <label for=""></label><br>
                        <i class="fas fa-times-circle remove" ></i>
                      </div>

                    </div>  
                  </div>
              
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
<!--add modal end-->  

<!--update modal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate [formGroup]="updateForm" class="form" (ngSubmit)="update()" *ngIf="selectedItem">
          <input type="hidden" formControlName="id">
          <div class="form-group row">    
                   
            <div class="col">
              <label for="">Sub Group Name* </label>
              <select class="form-control" formControlName="itemSubGroupId"  *ngIf="subgroupItemsAll.length; else subgroupItemsNF">
               
                <option *ngFor ="let sgi of subgroupItemsAll" [selected]="sgi.id==selectedItem.itemSubGroupId? true : '' " value="{{sgi.id}}">{{sgi.subGroupName}}</option>
                
              </select>
              
            </div>
            
            <ng-template #subgroupItemsNF>
              <div class="help-text">sub group item not found</div>
            </ng-template>
          </div>

          <div class="form-group row">
            <div class="col">
              <label for="">Item Name*</label>
              <input type="text" class="form-control" formControlName="itemName"  required>
            </div>

            <div class="col">
              <label for="">Item SKU*</label>
              <input type="text" class="form-control" formControlName="itemSKU" required>
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <label for="">UOM*</label>
              <select class="form-control" formControlName="uom">
              
                <option value="KG">KG</option>
                <option value="Litre">Litre</option>
                <option value="Dozen">Dozen</option>
                <option value="Piece">Piece</option>
                <option value="Pack">Pack</option>
              </select>                     
            </div>              
          </div>

            <button type="button" class="btn btn-sm btn-primary" (click)="additemfeatureU()">Add more</button>
            <div class="form-group" formArrayName="itemfeature">
              
              <div *ngFor="let itemF of updateForm.get('itemfeature').controls; let i = index"  class="row" [formGroupName]="i">
                <div class="col-sm-5">
                  <label for="">Feature Type</label>
                  <select class="form-control" formControlName="type" required>
                    <option value="Brand">Brand</option>
                    <option value="Country of Origin">Country of Origin</option>
                  </select> 
                </div>

                <div class="col-sm-5">
                  <label for="">Feature Name</label>
                  <input type="text" class="form-control" formControlName="name" required>
                </div>

                <div class="col-sm-2" *ngIf="i>0" (click)="removeitemfeatureU(i)">
                  <label for=""></label><br>
                  <i class="fas fa-times-circle remove" ></i>
                </div>

              </div>  
            </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!--add modal end--> 
