<div class="container-fluid">
  <h1 class="mt-4">{{title}}</h1> 
  
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{title}}</li>
  </ol>

  <div class="card mb-4">
      <div class="card-header">
          <button class="btn-sm btn btn-primary" data-target="#addModal" data-toggle="modal"><i class="fas fa-plus-circle"></i> Add Item</button>
        </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Sl No.</th>
                          <th>Group Name</th>
                          <th>Sub Group Name</th>
                          <th>Edit</th>
                      </tr>
                  </thead>

                  <tbody>

                      <tr *ngFor="let item of subGroupItems; let i= index;">
                          <td>{{i+1}}</td>
                          <td>{{item.itemGroupName}}</td>
                          <td>{{item.subGroupName}}</td>
                          <td (click)="edit(item)" data-target="#updateModal" data-toggle="modal">
                            <i class="fas fa-edit"></i>
                          </td>
                      </tr>

                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<!--add modal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Item sub Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate [formGroup]="addForm" method="post" action="" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="">Select Group Name*</label>
                <div *ngIf="groupItems; else subgroupNotFound">
                <select  class="form-control" formControlName="itemGroupId" (change)="onChange($event)" placeholder="select" required>
                  <option *ngFor="let gitem of groupItems" value="{{gitem.id}}">{{gitem.name}}</option>
                </select>
              </div>
                <ng-template #subgroupNotFound>
                  <span>sub group not found</span>
                </ng-template>
              </div>
              <div class="form-group">
                  <label for="">Sub Group Name*</label>
                  <input type="text" class="form-control" formControlName="subGroupName" required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
<!--add modal end-->  

<!--add modal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Item sub Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate [formGroup]="updateForm"  *ngIf="selectedItem" (ngSubmit)="update()">
          <input type="hidden" formControlName="id" value="{{selectedItem.id}}">
     
            <div class="form-group">
              <label for="">Group Name</label>
              <select class="form-control" formControlName="itemGroupId" required>
                <option *ngFor="let item of groupItems" value="{{item.id}}" [selected]="item.id==selectedItem.itemGroupId? true : '' ">{{item.name}}</option>
              </select>

            </div>
            
            <div class="form-group">
              <label for="">Sub Group Name</label>
              <input type="text" class="form-control" formControlName="subGroupName" value="{{selectedItem.subGroupName}}" required>
            </div>

            <div class="form-group">
              <button class="btn btn-primary">Update</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!--add modal end--> 