<div class="container-fluid">
  <div class="row mt-4">

    <div class="card">

      <div class="card-header">Add Stock</div>

      <div class="card-body">
        <form ngNativeValidate [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form">
          <div class="form-group row">
            <div class="col">
              <label for="">Select Organization* <i class="fas fa-plus-circle add" data-toggle="collapse" data-target="#tree"></i></label>
              <div class="collapse" id="tree">
<!--tree view -->
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                  <!-- This is the tree node template for leaf nodes -->
                  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    <li class="mat-tree-node">
                      <!-- use a disabled button to provide padding for tree leaf -->
                      
                      {{node.organizationName}} <input type="radio" formControlName="organizationId" value="{{node.id}}" style="margin-left: 10px;" required>
                    </li>
                  </mat-tree-node>
                  <!-- This is the tree node template for expandable nodes -->
                  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <li>
                      <div class="mat-tree-node">
                        <span mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'toggle ' + node.name" style="cursor: pointer;">
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                          </mat-icon>
                        </span>
                        {{node.organizationName}}  <input type="radio" formControlName="organizationId" value="{{node.id}}"  style="margin-left: 10px;" required>
                      </div>
                      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                      </ul>
                    </li>
                  </mat-nested-tree-node>
                </mat-tree>

<!--tree view -->  
              </div>
            </div>
          </div>
          
          <div class="form-group row">

            <div class="col">
              <label for="">Select Item*</label>
              <select class="form-control" formControlName="itemId" (change)="itemDetail(itemId.value)" #itemId required>
                <option value="">Select</option>
                <option *ngFor="let i of items" value="{{i.id}}">{{i.itemName}}</option>
              </select>
            </div>
            <div class="col">
              <label for="">Select Country of Origin*</label>
              <select class="form-control" formControlName="invCountryOfOriginId" required >
                <option value="">Select</option>
                <option *ngFor="let o of origin" value="{{o.id}}">{{o.name}}</option>
              </select>
            </div>

            <div class="col">
              <label for="">Select Brand*</label>
              <select class="form-control" formControlName="invBrandId" required>
                <option value="">Select</option>
                <option *ngFor="let b of brand" value="{{b.id}}">{{b.name}}</option>
              </select>
            </div>

            <div class="col">
              <label for="">Quantity*</label>
              <input class="form-control" type="number" formControlName="quantity" required>
            </div>
            
          </div>
          <button class="btn btn-primary" [disabled]="!addForm.valid">Submit</button>
        </form>
      </div>

    </div>

  </div>
</div>