<div class="container-fluid">
  <h1 class="mt-4">{{title}}</h1> 
  
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{title}}</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <a routerLink="/dashboard/demand/add" class="btn btn-sm  btn-primary"><i class="fas fa-plus-circle"></i> Add Demand</a>
    </div>

    <div class="body">
      <div class="table-responsive" id="dtable">
        <table class="table table-bordered">
          <thead>
            <th>Sl No.</th>
            <th>Date</th>
            <th>Demand Number</th>
            <th>Requested by</th>
            <th>Requested to</th>
            <th>Benefit Item</th>
            
            <th>Status</th>
            <th>Detail</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let d of demands; let i = index;">
              <td>{{i+1}}</td>
              <td>{{d.demandDate}}</td>
              <td>{{d.demandNo}}</td>
              <td>{{d.requestedBy}}</td>
              <td>{{d.requestedTo}}</td>
              <td>{{d.benefitItem}}</td>
              <td>{{d.status}}</td>
              
              <td>
               <a routerLink="/dashboard/demand/detail/{{d.id}}">Detail</a>
              </td>
              
              <td>
                <a (click)="delete(d,d.id)"><i class="fas fa-trash-alt" ></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>    

