<div class="container-fluid mt-4">
  <div class="row mb-4">
  
      <div class="card">
        <div class="card-header">
          <a routerLink="/dashboard/damage"><i class="fas fa-arrow-circle-left"></i></a> Add Damage
        </div>
  
        <div class="card-body">
          <form ngNativeValidate [formGroup]="addForm" (ngSubmit)="onSubmit()" class="from">
            
            <div class="form-group">
              <label for="">Reason</label>
              <textarea type="text" class="form-control" formControlName="reason" required></textarea>
            </div>


            <span class="add" (click)="addInvItem()">Item List <i class="fas fa-plus-circle"></i></span>
            <div id="test"></div>
           
            <div class="table-responsive" formArrayName="invItem">
          
                <table class="table table-bordered" *ngFor="let invItem of addForm.controls.invItem['controls']; let i = index" [formGroupName]="i">
                  <thead>
                    <th>Group</th>
                    <th>Sub Group</th>
                    <th>Item</th>
                    <th>UOM</th>
                    <th>Country of Origin</th>
                    <th>Brand</th>
                    <th>Stock</th>
                    <th>Quantity</th>
                    <th>Remarks <span class="remove" *ngIf="i>0" (click)="removeInvItem(i)">
                      <i class="fas fa-times-circle remove" ></i>
                    </span></th>
                  </thead>
                  <tr>
      
                    <td>
                      <select name="" class="form-control" *ngIf="groupItem.length" (change)='getSubgroupItems(i, groupId.value)' #groupId required>
                        <option value="">Select</option>
                        <option *ngFor="let gi of groupItem" value="{{gi.id}}">{{gi.name}}</option>
                      </select>                      
                    </td>
                    <td>
                      <select class="form-control" id="{{'subgroupId'+i}}" (change)="getItems(i,subgroupId.value)" #subgroupId required>

                      </select>            
                    </td>

                    <td>
                      <select class="form-control" formControlName="itemId" (change)="setItemFeature(i,item.options[item.selectedIndex].getAttribute('id'),item.value)" id="{{'itemId'+i}}" #item required>
                        
                      </select>
                    </td>
                    <td>
                      <select id="{{'uomId'+i}}" class="form-control" #uomId></select>
                    </td>
                    <td>
                      <select class="form-control" id="{{'cor'+i}}" formControlName="invCountryOfOriginId" #countryOfOrigin required>
                        
                      </select>
                    </td>
                    <td>
                      <select class="form-control" id="{{'brand'+i}}" (change)="getStock(item.value,countryOfOrigin.value,brand.value,i)" formControlName="invBrandId" #brand required>
                       
                      </select>
                    </td>
                    <td>
                      <input type="text" id="{{'stock'+i}}" class="form-control" value="0" #stock readonly>
                    </td>
                    <td>
                      <input  type="number" min="1" max="{{stock.value}}"  class="form-control" formControlName="quantity" required>
                    </td>
                    <td>
                      <input  type="text" class="form-control" formControlName="remarks" >
                    </td>

                  </tr>
                </table>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
  
      </div>


  </div>
</div>
