<div class="container-fluid mt-4">
  <div class="row mb-4">

    <div class="card">
      <div class="card-header">
        Add Receive
      </div>
      <div class="card-body">
        <form ngNativeValidate [formGroup]="addForm" (ngSubmit)="onSubmit()" class="from">

          <div class="form-group">
            <label for="">Receive Type</label>
            <br/>
            <input type="checkbox" class="" id="donateType" (change)="onCheckboxChange($event)" formControlName="donate" style="margin-right: 10px;"/>
            <label class="form-check-label" for="donateType">Is Donate</label>
          </div>
          <div class="form-group" *ngIf="showDonerName">
            <label for="">Doner Name</label>
            <input type="text" id="donerName" class="form-control" formControlName="donateName" />
          </div>
          <div class="form-group" *ngIf="showDonerAddress">
            <label for="">Doner Address</label>
            <input type="text" id="donerAddress" class="form-control" formControlName="contractAddress" />
          </div>

          <div class="form-group">
            <label for="">Select Benefit Item</label>
            <select name="" id="benefitItem" class="form-control" formControlName="benefitItemId" #myBenefitItemSelect (change)='onBenefitItemSelected(myBenefitItemSelect.value)'>
              <option *ngFor="let bi of benefitItems" value="{{bi.id}}">{{bi.name}}</option>
            </select>
          </div>

          <div class="form-group" *ngIf="showIssueSelect">
            <label for="">Select Issue Number</label>
            <select name="" id="issueSelect" class="form-control" formControlName="issueId" #myIssueSelect (change)='onIssueSelected(myIssueSelect.value)'>

            </select>
          </div>
          <div class="form-group" *ngIf="showRecOrgTree">
            <label for="">Requested to
              <i class="fas fa-plus-circle add" data-toggle="collapse" data-target="#tree"></i>
            </label>
            <div class="collapse" id="tree">
              <!--tree view -->
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                  <li class="mat-tree-node">
                    <!-- use a disabled button to provide padding for tree leaf -->

                    {{node.organizationName}}
                    <input type="radio" formControlName="requestedTo" value="{{node.id}}" style="margin-left: 10px;" required>
                  </li>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                  <li>
                    <div class="mat-tree-node">
                      <span mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" style="cursor: pointer;">
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </span>
                      {{node.organizationName}}
                      <input type="radio" formControlName="requestedTo" value="{{node.id}}" style="margin-left: 10px;" required>
                    </div>
                    <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                      <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                  </li>
                </mat-nested-tree-node>
              </mat-tree>

              <!--tree view -->
            </div>
          </div>
          <span class="add" (click)="addInvItem()" *ngIf="showAddItemButton">Item List
            <i class="fas fa-plus-circle"></i>
          </span>
          <div id="test"></div>
          <!-- For Donate Iteam Table.This is custom add table -->
          <div class="table-responsive" formArrayName="invItemFormValue" *ngIf="showDonateItemTable">
            <table class="table table-bordered" *ngFor="let invItem of addForm.controls.invItemFormValue['controls']; let i = index"
              [formGroupName]="i">
              <thead>
                <th>Group</th>
                <th>Sub Group</th>
                <th>Item</th>
                <th>UOM</th>
                <th>Country of Origin</th>
                <th>Brand</th>
                <th>Quantity</th>
                <th>Remarks</th>
              </thead>
              <tr>


                <td>
                  <select name="" class="form-control" *ngIf="groupItem.length" (change)='getSubgroupItems(i, groupId.value)' #groupId required>
                    <option value="">Select</option>
                    <option *ngFor="let gi of groupItem" value="{{gi.id}}">{{gi.name}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-control" id="{{'subgroupId'+i}}" (change)="getItems(i,subgroupId.value)" #subgroupId required>

                  </select>
                </td>

                <td>
                  <select class="form-control" formControlName="itemId" (change)="setItemFeature(i,item.options[item.selectedIndex].getAttribute('id'),item.value)"
                    id="{{'itemId'+i}}" #item required>

                  </select>
                </td>
                <td>
                  <select id="{{'uomId'+i}}" class="form-control" #uomId></select>
                </td>
                <td>
                  <select class="form-control" id="{{'cor'+i}}" formControlName="invCountryOfOriginId" #countryOfOrigin required>

                  </select>
                </td>
                <td>
                  <select class="form-control" id="{{'brand'+i}}" formControlName="invBrandId" #brand required>

                  </select>
                </td>
                <td>
                  <input type="number" min="1" class="form-control" formControlName="quantity" required>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="remarks">
                </td>

              </tr>
            </table>
            <div class="form-group">
              <button class="btn-primary btn">Submit</button>
            </div>
          </div>
          <!-- For Non Donate Item Table. This table generate by Issue Number -->
          <div class="table-responsive" formArrayName="invItemFormValue" *ngIf="showNonDonateItemTable">
            <table class="table table-bordered" *ngFor="let invItem of addForm.controls.invItemFormValue['controls']; let i = index" 
              [formGroupName]="i">
              <thead>
                <th>Item</th>
                <th>Country of Origin</th>
                <th>Brand</th>
                <th>Issue Quantity</th>
                <th>Receive Quantity</th>
                <th>Remarks</th>
              </thead>
             
              <tr *ngFor="let inv of issueedItemList">
                <td>
                  <input type="hidden" class="form-control" formControlName="itemId" [(ngModel)] ="inv.itemId" required/>
                  {{inv.item}}
                </td>
                <td>
                    <input type="hidden" formControlName="invCountryOfOriginId" [(ngModel)]="inv.invCountryOfOriginId" required/>
                    {{inv.invCountryOfOrigin}}
                </td>
                <td>
                    <input type="hidden" formControlName="invBrandId" [(ngModel)] ="inv.invBrandId" required/>
                    {{inv.invBrand}}
                </td>
                <td>
                   
                    {{inv.quantity}}
                </td>
                <td>
                  <input type="number"  class="form-control" formControlName="quantity" [(ngModel)]="inv.quantity" readonly/>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="remarks" >
                </td>

              </tr>
            </table>

            <div class="form-group">
              <button class="btn-primary btn">Submit</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>