

<h1 mat-dialog-title>Status {{data.status}}</h1>
<div mat-dialog-content>
  <p>Reason: {{data.reason}}</p>
  <p *ngIf="token && data.status == 401">
    Access token expired, please refresh page / login.
  </p>
</div>
<div mat-dialog-actions>
  <button class="btn btn-primary" (click)="onNoClick()">Ok</button>
</div>
