<div class="container-fluid mt-4">
  <div class="row mb-4">
  
      <div class="card">
        <div class="card-header">
          <a routerLink="/dashboard/demand"><i class="fas fa-arrow-circle-left"></i></a> Add Demand
        </div>
  
        <div class="card-body">
        
          <form ngNativeValidate [formGroup]="addForm" (ngSubmit)="onSubmit()" class="from">
  
            <div class="form-group">
              <label for="">Select Benefit Item</label>
              <select name="" class="form-control" *ngIf="benefitItems.length" (change)="checkTotalBenefit(benItemid.value)"  formControlName="benefitItemId" #benItemid required>
                <option *ngFor="let bi of benefitItems" value="{{bi.id}}">{{bi.name}}</option>
              </select>

            </div>

            <div class="form-group" *ngIf="totalNum.sum">
              <label for="">Total Number of Benefit Item</label>
              <input type="number" class="form-control" value="{{totalNum.sum}}" disabled>
              <button class="btn-info btn btn-sm mt-2" type="button" data-toggle="modal" data-target="#totalNumModal">View Detail</button>
            </div>
            
            <div class="form-group">
              <label for="">Requested to <i class="fas fa-plus-circle add" data-toggle="collapse" data-target="#tree"></i></label>
              <div class="collapse" id="tree">
<!--tree view -->
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                  <!-- This is the tree node template for leaf nodes -->
                  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    <li class="mat-tree-node">
                      <!-- use a disabled button to provide padding for tree leaf -->
                      
                      {{node.organizationName}} <input type="radio" formControlName="requestedTo" value="{{node.id}}" style="margin-left: 10px;" required>
                    </li>
                  </mat-tree-node>
                  <!-- This is the tree node template for expandable nodes -->
                  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <li>
                      <div class="mat-tree-node">
                        <span mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'toggle ' + node.name" style="cursor: pointer;">
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                          </mat-icon>
                        </span>
                        {{node.organizationName}}  <input type="radio" formControlName="requestedTo" value="{{node.id}}"  style="margin-left: 10px;" required>
                      </div>
                      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                      </ul>
                    </li>
                  </mat-nested-tree-node>
                </mat-tree>

<!--tree view -->                  
              </div>
            </div>

            <span class="add" (click)="addInvItem()">Item List <i class="fas fa-plus-circle"></i></span>
            <div id="test"></div>
           
            <div class="table-responsive" formArrayName="invItem">
          
                <table class="table table-bordered" *ngFor="let invItem of addForm.controls.invItem['controls']; let i = index" [formGroupName]="i">
                  <thead>
                    <th>Group</th>
                    <th>Sub Group</th>
                    <th>Item</th>
                    <th>UOM</th>
                    <th>Country of Origin</th>
                    <th>Brand</th>
                    
                    <th>Quantity</th>
                    <th>Remarks <span class="remove" *ngIf="i>0" (click)="removeInvItem(i)">
                      <i class="fas fa-times-circle remove" ></i>
                    </span></th>
                  </thead>
                  <tr>
      
                    <td  class="w-15">
                      <select name="" class="form-control" *ngIf="groupItem.length" (change)='getSubgroupItems(i, groupId.value)' #groupId required>
                        <option value="">Select</option>
                        <option *ngFor="let gi of groupItem" value="{{gi.id}}">{{gi.name}}</option>
                      </select>                      
                    </td>
                    <td  class="w-15">
                      <select class="form-control" id="{{'subgroupId'+i}}" (change)="getItems(i,subgroupId.value)" #subgroupId required>

                      </select>            
                    </td>

                    <td  class="w-20">
                      <select class="form-control" formControlName="itemId" (change)="setItemFeature(i,item.options[item.selectedIndex].getAttribute('id'),item.value)" id="{{'itemId'+i}}" #item required>
                        
                      </select>
                    </td>
                    <td>
                      <input id="{{'uomId'+i}}" class="form-control" #uomId readonly style="width:60px"/>
                    </td>
                    <td>
                      <select class="form-control" id="{{'cor'+i}}" formControlName="invCountryOfOriginId" #countryOfOrigin required>
                        
                      </select>
                    </td>
                    <td>
                      <select class="form-control" id="{{'brand'+i}}" formControlName="invBrandId" #brand required>
                       
                      </select>
                    </td>
  
                    <td>
                      <input  type="number" min="1" class="form-control" formControlName="quantity" required style="width: 60px;">
                    </td>
                    <td>
                      <input  type="text" class="form-control" formControlName="remarks" >
                    </td>

                  </tr>
                </table>
            </div>
            <div class="form-group">
              <button class="btn-primary btn" [disabled]="!addForm.valid">Submit</button>
            </div>            
          </form>
        </div>
  
      </div>


  </div>
</div>

<!--total num modal-->
<div class="modal fade" id="totalNumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Benefit Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table" *ngIf="totalNum.list.length">
          <thead>
            <th>Beneficiary Name</th>
            <th>Family Member</th>
          </thead>
          <tbody>
            <tr *ngFor="let n of totalNum.list">
              <td>{{n.beneficiaryName}}</td>
              <td>{{n.no}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!--total num modal end-->