            <div class="bg-secondary" style="min-height: 100vh;"> 
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-5">

                          <div class="card text-white bg-dark  shadow-lg border-0 rounded-lg mt-5">
                              <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                  <!--loading-->
                                  <mat-progress-bar
                                  *ngIf="loading" color="accent" mode="indeterminate">
                                  </mat-progress-bar> 
                                  <!--loading end-->
                              <div class="card-body">

                                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label class="" for="inputEmailAddress">User Name</label>
                                        <input formControlName="username" class="form-control" id="inputEmailAddress" type="text" placeholder="Enter username" />
                                        <span *ngIf="username.invalid && (username.dirty || username.touched)"
                                        class="help-text">
                                    
                                            <span *ngIf="username.errors.required">
                                                username is required.
                                            </span>


                                        </span>
                                    </div>

                                    <div class="form-group">
                                          <label class="" for="inputPassword">Password</label>
                                          <input formControlName="password" class="form-control" id="inputPassword" type="password" placeholder="Enter password" />
                                          <span class="help-text" *ngIf="password.invalid && (password.dirty || password.touched)">
                                              <span *ngIf="password.errors.required">
                                                  password is required
                                              </span>
                                          </span>
                                    </div>

                                    <div class="form-group">
                                          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label" for="rememberPasswordCheck">Remember me</label></div>
                                    </div>

                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" routerLink="/forgot-password">Forgot Password?</a>
                                        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                                    </div>
                                  </form>
                              </div>
                              <div class="card-footer text-center">
                                  <!--<div class="small"><a href="register.html">Need an account? Sign up!</a></div>-->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>  