<div class="container-fluid">
  <h1 class="mt-4">{{title}}</h1> 
  
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{title}}</li>
  </ol>
  <a routerLink="/dashboard/damage/add" class="btn btn-sm  btn-primary"><i class="fas fa-plus-circle"></i> Add Damage</a>
  <div class="card mt-2 mb-4" *ngFor="let d of damages; let i = index">
    <div class="card-header">
      
      <p>Created Date: {{d.damageDate}}</p>
      <p>Organization Name: {{d.organizationName}}</p>
      <p>Damage Reason: {{d.reason}}</p>
    </div>

    <div class="body">
      <div class="card-header">Damage Detail <i class="fas fa-plus-circle" data-toggle="collapse" [attr.data-target]="'#'+'table'+i"></i></div>
      <div class="table-responsive collapse" id="table{{i}}">
        <table class="table" *ngFor="let item of d.invItem; let j = index">
          <thead>
            <th>Sl No.</th>
            <th>Item Name.</th>
            <th>Country of Origin</th>
            <th>Brand</th>
            <th>Quantity</th>
            <th>Remarks</th>

          </thead>
          <tbody>
            <tr>
              <td>{{j+1}}</td>
              <td>{{item.itemName}}</td>
              <td>{{item.invCountryOfOriginName}}</td>
              <td>{{item.invBrandName}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.remarks}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
  <div class="float-right">
    <div class="btn-group mt-4">
      <button type="button" class="btn-primary btn btn-sm" [disabled]="pageNumber-1<0" (click)="getDamage(pageNumber-1)">Previous</button>
      <button type="button" class="btn-primary btn btn-sm" [disabled]="damages.length <10" (click)="getDamage(pageNumber+1)">Next</button>
    </div>
  </div>  

</div>    
