<div class="container-fluid">
  <h1 class="mt-4">{{title}}</h1>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{title}}</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <a routerLink="/dashboard/receive-against-issue/add" class="btn btn-sm  btn-primary">
        <i class="fas fa-plus-circle"></i> Add Receive</a>
    </div>

    <div class="body">
      <div class="table-responsive" id="dtable">
        <table class="table table-bordered">
          <thead>
            <th>Sl No.</th>
            <th>Receive No</th>
            <th>Is Donate</th>
            <th>Issue From </th>
            <th>Status</th>
            <th>View</th>
          </thead>
          <tbody>
            <tr *ngFor="let rec of receivedList; let i= index">
              <td>{{i+1}}</td>
              <td>{{rec.receiveNo}}</td>
              <td>{{rec.donate}}</td>
              <td>{{rec.requestedTogName}}</td>
              <td>{{rec.status}}</td>
              <td>
                <button (click)="getReceiveById(rec.id)" color="primary" (click)="open(receivedmodal)"> View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<ng-template #receivedmodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Received Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Receive No :</td>
          <td>{{receiveNo}}</td>
        </tr>
        <tr *ngIf="donateName">
          <td>Donate By :</td>
          <td>{{donateName}}</td>
        </tr>
        <tr *ngIf="contractAddress">
          <td>Address :</td>
          <td>{{contractAddress}}</td>
        </tr>
        <tr>
          <td>Benefit Item Name:</td>
          <td>{{benefitItemName}}</td>
        </tr>
        <tr>
          <td>receive Organization:</td>
          <td>{{receiveByOrgName}}</td>
        </tr>
        <tr *ngIf="requestedToOrgName">
          <td>Issue Organization:</td>
          <td>{{requestedToOrgName}}</td>
        </tr>
        <tr>
          <td>Status :</td>
          <td>{{status}}</td>
        </tr>
        <tr>
          <td>Received Date:</td>
          <td>{{receiveDateTime}}</td>
        </tr>
      </tbody>
    </table>



    <table class="table table-bordered">
      <thead>
        <th>Sl No.</th>
        <th>Item</th>
        <th>CountryOfOrigin</th>
        <th>BrandName </th>
        <th>Quantity</th>
        <th>Remark</th>
      </thead>
      <tbody>

        <tr *ngFor="let rec of singleReceiveItemList; let i= index">
          <td>{{i+1}}</td>
          <td>{{rec.itemName}}</td>
          <td>{{rec.invCountryOfOriginName}}</td>
          <td>{{rec.invBrandName}}</td>
          <td>{{rec.quantity}}</td>
          <td>{{rec.remarks}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>