<div class="container-fluid">
  <h1 class="mt-4">{{title}}</h1> 
  
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{title}}</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <a routerLink="/dashboard/issue-against-demand/add" class="btn btn-sm  btn-primary"><i class="fas fa-plus-circle"></i> Add Issue</a>
    </div>

    <div class="body">
      <div class="table-responsive" id="dtable">
        <table class="table table-bordered">
          <thead>
            <th>Sl No.</th>
            <th>Issue Date</th>
            <th>Issue No.</th>
            <th>Requested By</th>
            <th>Requested To</th>
            <th>Benefit Item</th>
            <th>Status</th>
            <th>Detail</th>

          </thead>
          <tbody>
            <tr *ngFor="let issue of issues; let i = index;">
              <td>{{i+1}}</td>
              <td>{{issue.issueDate}}</td>
              <td>{{issue.issueNo}}</td>
              <td>{{issue.requestedBy}}</td>
              <td>{{issue.requestedTo}}</td>
              <td>{{issue.benefitItem}}</td>
              <td>{{issue.status}}</td>
              <td><a routerLink="/dashboard/issue-against-demand/detail/{{issue.id}}">Detail</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>   