<div class="container-fluid">
  <h1 class="mt-4">{{title}}</h1> 
  
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{title}}</li>
  </ol>

  <div class="card mb-4">
      <div class="card-header">
          <a routerLink="/dashboard/stock/add" class="btn-sm btn btn-primary" ><i class="fas fa-plus-circle"></i> Add Stock</a>
        </div>
      <div class="card-body">
          <div class="table-responsive">
            
              <table class="table table-bordered" id="" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Sl No.</th>
                          <th>Organization</th>
                          <th>Item</th>
                          <th>Country of Origin</th>
                          <th>Brand</th>
                          <th>Quantity</th>
                   
                      </tr>
                  </thead>
              
                  <tbody>
                    <tr *ngFor="let stock of stocks; let i = index;">
                      <td>{{i+1}}</td>
                      <td>{{stock.organizationName}}</td>
                      <td>{{stock.itemName}}</td>
                      <td>{{stock.invCountryOfOriginName}}</td>
                      <td>{{stock.invBrandName}}</td>
                      <td>{{stock.quantity}}</td>
                 
                    </tr>
                  </tbody>
                
              </table>
              <div class="float-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="stockList(pageNum-1,10)" [disabled]="pageNum==0">Previous</button>

                  <button type="button" class="btn btn-sm btn-primary" (click)="stockList(pageNum+1,10)" [disabled]="stocks.length <10">Next</button>
                </div>
                  
              </div>
          </div>
      </div>
  </div>
</div>
