
    <div class="sb-nav-fixed">
        <!--navbar-->
        <app-dashboardnav></app-dashboardnav>               
        <!--navbar end--> 
        <div [attr.id]="auth.userToken ? 'layoutSidenav': ''">
            <!--sidebar-->
            <app-sidebar *ngIf="auth.userToken"></app-sidebar>
            <!--sidebar end-->
            <div [attr.id]="auth.userToken ? 'layoutSidenav_content': ''">
              
                <main>
                    <!--loading-->
                    <div class="loading-bar">
                        <mat-progress-bar
                        *ngIf="loading" color="accent" mode="indeterminate">
                        </mat-progress-bar> 
                    </div>
                    <!--loading end-->   
                    
                    <router-outlet></router-outlet>
                    <app-message></app-message>
                    <!--http req loader-->
                    <app-loader></app-loader>
                    <!--http req loader end-->
                   
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; 2020 | All Right Reserved</div>
                            <div>

                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

      </div>

