
<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
          <div class="nav">
            
                <div class="sb-sidenav-menu-heading" style="color:#e3e3e3;">
                  <strong align="center" id="{{orgId}}">{{orgName}}</strong>
                </div>
                <a class="nav-link" routerLink='' routerLinkActive='active-menu' [routerLinkActiveOptions]="{ exact: true }">
                  <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i>
                  </div>
                  Item Group
                </a
              >
            <!--
              <a class="nav-link collapsed" routerLink="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                  ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                  Layouts
                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
              ></a>
              <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                  <nav class="sb-sidenav-menu-nested nav">
                      <a class="nav-link" routerLink="layout-static.html">Static Navigation</a>
                      <a class="nav-link" routerLink="layout-sidenav-light.html">Light Sidenav</a>
                    </nav>
              </div>
            example end-->
            <a class="nav-link" routerLink="/dashboard/item-sub-group" routerLinkActive="active-menu">
                <div class="sb-nav-link-icon"><i class="fas fa-list-ul"></i></div>
            Item sub Group
            </a>

            <a class="nav-link" routerLink="dashboard/items" routerLinkActive="active-menu"
            ><div class="sb-nav-link-icon"><i class="fas fa-list-ul"></i></div>
            Items</a>

            <a class="nav-link" routerLink="dashboard/demand" routerLinkActive="active-menu"
            ><div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
            Demand</a>

            <a class="nav-link" routerLink="dashboard/issue-against-demand" routerLinkActive="active-menu"
            ><div class="sb-nav-link-icon"><i class="fas fa-id-card"></i></div>
            Issue Against Demand</a>

            <a class="nav-link" routerLink="dashboard/receive-against-issue" routerLinkActive="active-menu"
            ><div class="sb-nav-link-icon"><i class="far fa-check-square"></i></div>
            Receive Against Issue</a>

            <a class="nav-link" routerLink="dashboard/distribute-against-demand" routerLinkActive="active-menu"
            ><div class="sb-nav-link-icon"><i class="fas fa-share-alt"></i></div>
            Distribute Against Receive</a>

            <a class="nav-link" routerLink="dashboard/damage" routerLinkActive="active-menu"
            ><div class="sb-nav-link-icon"><i class="fas fa-sort-amount-down"></i></div>
            Damage</a>

            <a class="nav-link" routerLink="dashboard/stock" routerLinkActive="active-menu"
            ><div class="sb-nav-link-icon"><i class="fas fa-business-time"></i></div>
            Stock</a>

            <a class="nav-link" routerLink="dashboard/stock-report" routerLinkActive="active-menu"
            ><div class="sb-nav-link-icon"><i class="fas fa-business-time"></i></div>
            Stock Report</a>

          </div>
      </div>

  </nav>
</div>
