<div class="container-fluid">
  <h1 class="mt-4">{{title}}</h1> 
  
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{title}}</li>
  </ol>
  <form ngNativeValidate [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="card mt-4">

        <div class="card-header" data-toggle="collapse" data-target="#orgTree" style="cursor: pointer;">
          Select Organization <i class="fas fa-plus-circle"></i>
        </div>
        <div class="card-body collapse" id="orgTree">
          <!--tree view -->
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
              <li class="mat-tree-node">
                <!-- use a disabled button to provide padding for tree leaf -->
                
                {{node.organizationName}} <input type="radio" formControlName="organizationId" value="{{node.id}}" style="margin-left: 10px;" required>
              </li>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
              <li>
                <div class="mat-tree-node">
                  <span mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'toggle ' + node.name" style="cursor: pointer;">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </span>
                  {{node.organizationName}}  <input type="radio" formControlName="organizationId" value="{{node.id}}"  style="margin-left: 10px;" required>
                </div>
                <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                  <ng-container matTreeNodeOutlet></ng-container>
                </ul>
              </li>
            </mat-nested-tree-node>
          </mat-tree>              
          <!--tree view --> 
        </div>
        <div class="form-group row p-4">
          <div class="col">
            <label for="">From Date</label>
            <input type="date" class="form-control" formControlName="fromDate" required>
          </div>
          <div class="col">
            <label for="">To Date</label>
            <input type="date" class="form-control"  formControlName="toDate" required>
          </div>
          <div class="col">
            <label for="">Check Report</label>
            <button class="btn-block btn btn-primary" [disabled]="!addForm.valid">Submit</button>
          </div>

        </div>
        <div class="form-group row p-4">
          <div class="col alert alert-danger" *ngIf="validationMsg">{{validationMsg}}</div>
        </div>      
    </div>
  </form> 

  <div class="card mt-4 mb-4" *ngIf="reportData.length">
    <table class="table">
      <thead>
        <th>Item Name</th>
        <th>Received Qty.</th>
        <th>Issue Qty.</th>
        <th>Distribute Qty.</th>
        <th>Damage Qty.</th>
        <th>Balance Qty.</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of reportData">
          <td>{{data.itemName}}</td>
          <td>{{data.receiveQty}}</td>
          <td>{{data.issueQty}}</td>
          <td>{{data.distributeQty}}</td>
          <td>{{data.damageQty}}</td>
          <td>{{data.balance}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>  