<div *ngIf="msgService.messages.length" class="alert alert-success alert-dismissible fade show bounce" role="alert">
  <div *ngFor='let message of msgService.messages'> 
    <strong>{{message}}</strong>
    <button type="button" id="crossBtn" (click)="msgService.clear()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
