@keyframes bounce{
    0% { position: fixed; bottom:0px; box-shadow: 0 0 2px #c3e6cb;}
   
    100% { position: fixed; bottom:100px; box-shadow: 0px  3px 10px #c3e6cb;}
}
.bounce {
   
    bottom: 20px;
    left: 10px;
    z-index: 2000;
    animation: bounce .5s ease 0s 2 alternate forwards;
}
#crossBtn {transition: ease-out 0.5s;}
#crossBtn:hover{
    transform: rotate(360deg);
}
