<div class="container-fluid mt-4">
  <div class="row mb-4">

    <div class="card">
      <div class="card-header">
        Add Distribute
      </div>
      <div class="card-body">
        <form ngNativeValidate [formGroup]="addForm" (ngSubmit)="onSubmit()" class="from">

          <div class="form-group">
            <label for="">Select Benefit Item</label>
            <select name="" id="benefitItem" class="form-control" formControlName="benefitItemId" #myBenefitItemSelect (change)='onBenefitItemSelected(myBenefitItemSelect.value)'>
              <option *ngFor="let bi of benefitItems" value="{{bi.id}}">{{bi.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="">Select Receive Number</label>
            <select name="" id="receiveSelect" class="form-control" formControlName="receivedId" #myReceiveSelect (change)='onReceiveSelected(myReceiveSelect.value)'>

            </select>
          </div>
         <!--  <div class="form-group">
            <label for="">Requested to
              <i class="fas fa-plus-circle add" data-toggle="collapse" data-target="#tree"></i>
            </label>
            <div class="collapse" id="tree">
             
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
               
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                  <li class="mat-tree-node">
                    

                    {{node.organizationName}}
                    <input type="radio" formControlName="distributeByOrgId" value="{{node.id}}" style="margin-left: 10px;" required>
                  </li>
                </mat-tree-node>
               
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                  <li>
                    <div class="mat-tree-node">
                      <span mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" style="cursor: pointer;">
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </span>
                      {{node.organizationName}}
                      <input type="radio" formControlName="distributeByOrgId" value="{{node.id}}" style="margin-left: 10px;" required>
                    </div>
                    <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                      <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                  </li>
                </mat-nested-tree-node>
              </mat-tree>
            </div>
          </div> -->

          <div class="table-responsive" formArrayName="invItemFormValue">
            <table class="table table-bordered" *ngFor="let invItem of addForm.controls.invItemFormValue['controls']; let i = index"
              [formGroupName]="i">
              <thead>
                <th>Item</th>
                <th>Country of Origin</th>
                <th>Brand</th>
                <th>Receive Quantity</th>
                <th>Distribute Quantity</th>
                <th>Remarks</th>
              </thead>
              <tr *ngFor="let rec of receivedItemList">
                <td>
                  <input type="hidden" formControlName="itemId" [(ngModel)]="rec.itemId" required/> 
                  {{rec.itemName}}
                </td>
                <td>
                  <input type="hidden" formControlName="invCountryOfOriginId" [(ngModel)]="rec.invCountryOfOriginId" required/>
                   {{rec.invCountryOfOriginName}}
                </td>
                <td>
                  <input type="hidden" formControlName="invBrandId" [(ngModel)]="rec.invBrandId" required/>
                   {{rec.invBrandName}}
                </td>
                <td>

                  {{rec.quantity}}
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="quantity" [(ngModel)]="rec.quantity" readonly/>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="remarks">
                </td>

              </tr>
            </table>

            <div class="form-group">
              <button class="btn-primary btn">Submit</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>