/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*common style*/
a{
    cursor: pointer !important;
}
input:invalid {
    box-shadow: none;
}
.card {
    width: 100% !important;
}
.help-text{
    color: tomato;
    font-size: 14px;
}
.bg-secondary {
    margin-top:50px;
}
.fa-edit {
    color: green;
    cursor: pointer;
}
.fa-trash-alt {
    color: tomato;
    cursor: pointer;
}
.remove {
    color: tomato;
    cursor: pointer;
}
.active-menu {
    color: white !important;
}
@media only screen and (max-width:992px)
{
 
}
